<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load staticfiles %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

    <link rel="icon" href='{% static "img/favacon_32x32.webp" %}' type="image/x-icon"/>

    <title>姜饼小屋-忘记密码</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/test/forgetpwd.css" %}' >

</head>


<body>
<div class="content">
    <div class="form sign-in">
        <h2>忘记密码</h2>
        <form method="post" action="forget">
            {% csrf_token %}
            <label>
                <span>用户名</span>
                <input type="text" name="user_name" id="user_name">
            </label>
            <label>
                <span>绑定的邮箱</span>
                <input type="text" name="email" id="email">
            </label>

            <input type="submit" name="" value="发 送" class="input_submit" id="onsubmit">
            <div class="remb_psw">
                <span>想起来了？<a href="{% url 'user:login1' %}">登录</a></span>
            </div>
        </form>
    </div>
</div>



<div style="text-align:center;">
</div>
</body>

</html>