<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load staticfiles %}
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

	<link rel="icon" href='{% static "img/favacon_32x32.webp" %}' type="image/x-icon" />

	<title>姜饼小屋-登录</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/test/login.css" %}'>
</head>


<body>
<div class="content">
    <div class="form sign-in">
        <h2>欢迎回来</h2>
        <form method="post">
            {% csrf_token %}
        <label>
            <span>用户名</span>
            <input type="text" name="username">
            <div class="user_error">输入错误</div>
        </label>
        <label>
            <span>密码</span>
            <input type="password" name="pwd">
            <div class="pwd_error">输入错误</div>
        </label>

        <p class="forgot-pass">
            <input type="checkbox" name="remember" {{ checked }}>
            <label>记住用户名</label>
            <a href="{% url 'user:forget' %}">忘记密码？</a>
        </p>
        <input type="submit" name="" value="登 录" class="input_submit">
        <button type="button" class="fb-btn">使用 <span>facebook</span> 帐号登录</button>
        </form>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>还未注册？</h2>
                <p>立即注册，发现大量机会！</p>
            </div>
            <div class="img__btn">
                <a href="{% url 'user:register1' %}"><button>注 册</button></a>
            </div>
        </div>
    </div>
</div>
    <p class="err_msg"> {{ errmsg }} </p>


<div style="text-align:center;">
</div>
</body>

</html>